@using PCCM.Web.Resources
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 class="text-center">@UIStrings.WebTitle</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper eros id nulla fringilla consectetur. Nam lacinia dui eget sapien dapibus aliquet. Morbi at pulvinar odio.</p>
</div>

<div class="row">
    
</div>